<header class="navbar navbar-dark bg-dark bg-gradient shadow py-3 border-bottom border-primary border-3">
  <div class="container d-flex justify-content-between align-items-center">

    <div class="d-flex flex-column text-start">
      <h1 class="navbar-brand mb-0 fs-3 fs-md-2 fw-bold"><i class="bi bi-cpu"></i> Matrix Crypt</h1>
      <span class="text-white-50 fs-6 d-none d-sm-block">Encriptador de Cifrado de Hill</span>
    </div>

    <button class="btn btn-outline-light rounded-pill px-3 shadow-sm" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#panelHistorial" aria-controls="panelHistorial">
      <i class="bi bi-clock-history"></i>
      <span class="d-none d-md-inline ms-1 fw-bold">Historial</span>
    </button>
  </div>
</header>