<section class="crypto-container">

  <div class="input-group">
    <label for="input">Entrada:</label>
    <textarea id="input" rows="5" placeholder="Ingresa texto normal o cifrado..." [(ngModel)]="inputText">
    </textarea>
  </div>

  <div class="actions">
    <button (click)="onEncrypt()">🔒 Encriptar</button>

    <button (click)="onDecrypt()">🔓 Desencriptar</button>

    <button (click)="swapTexts()" title="Mover resultado a entrada">⇅ Invertir</button>

    <button (click)="clear()">🗑️</button>
  </div>

  <div class="input-group">
    <label for="output">Resultado:</label>
    <textarea id="output" rows="5" readonly placeholder="El resultado aparecerá acá..." [value]="outputText">
    </textarea>
  </div>

</section>